<!DOCTYPE html>
<html>
<head>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Lucky's Blog</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'posts'%}">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="{% url 'Create' %}">CretePost</a></li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      {% if user.is_authenticated %}
      <ul class="nav navbar-nav navbar-right">
        <li><a class="glyphicon glyphicon-user"></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome {{request.user.username|capfirst}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'profile'%}">Profile</a></li>
            <li><a href="{% url 'update'%}">ProfileEdit</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </li>
      </ul>
     {% else %}
	 <ul class="nav navbar-nav navbar-right">
	    <li><a href="#">Register</a></li>
	    <li><a href="{% url 'login' %}">Login</a></li>
	 </ul>
     {% endif %}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% block body %}
{% endblock %}


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>	
</script> 
<script type="text/javascript">
	$(document).ready(function(event){
		$("#delete").click(function(){
			return confirm("Are You Sure delete this post")
		})

	});

	$(document).ready(function(event){
		$(document).on('click','#like',function(event){
			event.preventDefault();
			var pk = $(this).attr('value');
			console.log(pk)
			$.ajax({
				type	:'POST',
				url		:'{% url "likes" %}',
				data	: {'id':pk,'csrfmiddlewaretoken':'{{ csrf_token }}'},
				dataType:'Json',
				success	:function(response){
					$("#like-section").html(response['form'])
					console.log($("#like-section").html(reponse['form']))
				},
				// error:function(rs,e){
				// 	console.log(rs.responseText);
				// },
			});
		});
	});


$(document).ready(function(event){
$(document).on('submit','.comment-form',function(event){
		event.preventDefault();
		console.log($(this).serialize());

		$.ajax({
			type : 'POST',
			url	 : $(this).attr('action'),
			data : $(this).serialize(),
		dataType :'json',
		success  : function(response){
				$(".main-comments").html(response['form']);
	         // console.log($("#comments-section").html(response['form'])
			},

		});
	});
});

</script>


</body>
</html>